html {
  background: black;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.app-screen {
  background: #ccc;
  width: 100vh;
  height: 100vh;
}