.blob-body {
  width: 95px;
  height: 95px;
  transform-origin: 50% 80%;
}

.eye-left {
  left: 34%;
  top: 23%;
}

.eye-right {
  right: 12%;
  top: 21%;
}

.eye-container {
  position: absolute;
  z-index: 1;
}

.eye {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.eye-right .eye {
  transform: scale(0.75);
}

.eye-right .eye-lid {
  transform: rotate(2deg);
}

.eye-left .eye-lid {
  transform: rotate(-5deg);
}

.eye-lid {
  position: absolute;
  width: 24px;
  height: 24px;
}

.eye-lid-top {
  left: -10%;
}

.eye-lid-bottom {
  left: -10%;
}

.eye-pupil {
  position: absolute;
  width: 4px;
  height: 7px;
  border-radius: 100%;
  left: 55%;
  top: 13%;
}

.pupil-shrinkle {
  position: absolute;
  background: white;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  top: 2px;
  left: 75%;
  opacity: 0.85;
}

.eye-brow {
  position: absolute;
  width: 22px;
  height: 5px;

  background: black;
  z-index: 2;
}

.eye-left .eye-brow {
  transform: rotate(-8deg);
  top: 0px;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.eye-right .eye-brow {
  transform: rotate(6deg);
  top: 2px;
  left: 4px;
  width: 18px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.blob-mouth {
  width: 22px;
  height: 5px;
  position: absolute;
  top: 52%;
  left: 50%;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 50%;
  transform: rotate(5deg);
}

.blob-container {
  position: relative;
}

.blob-hand {
  position: absolute;
  width: 12px;
  height: 12px;

  border-top-left-radius: 35%;
  border-top-right-radius: 35%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.blob-hand.left-hand {
  left: 22%;
  top: 52%;
}

.blob-hand.right-hand {
  z-index: -1;
  right: 7%;
  top: 50%;
}

.blob-shadow {
  position: absolute;
  z-index: -1;
  width: 80%;
  left: 7%;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, .2);
  bottom: 5%;
}

.blob svg {
  stroke: black;
  stroke-width: 4px;
  stroke-linejoin: round;
  transform: rotate(50deg);
}